@use "../../styles/main.scss" as *;

.fragment {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 13rem;
  padding-right: 13rem;

  @include respond(tab-port) {
    // removing the white border for < 900 px
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.bigPadding {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
