@use "../../styles/main.scss" as *;

$box-shadow: 8px 8px 0px 0px;
$box-shadow-hover: 6px 6px 0px 0px;

.productTile {
  background-color: aqua;

  &__icon {
    background-color: white;
  }
}

.btn {
  &,
  &:link,
  &:visited {
    background-color: $color-white;
    color: $color-almost-black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.1rem 2.2rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
    box-shadow: $box-shadow $color-primary;
    border: 2px solid $color-almost-black;
    display: inline;
    cursor: pointer;
  }

  &:hover {
    box-shadow: $box-shadow-hover $color-primary;
  }

  &:active,
  &:focus {
    transform: translate(2px, 2px);
    box-shadow: none;
  }

  &__icon {
    margin-right: 1.6rem;
    color: $color-almost-black;
  }

  &--secondary {
    &,
    &:link,
    &:visited {
      box-shadow: $box-shadow $color-secondary-light;
    }
  }

  &--secondary {
    &:hover {
      box-shadow: $box-shadow-hover $color-secondary-light;
    }
  }

  &--tertiary {
    &,
    &:link,
    &:visited {
      box-shadow: $box-shadow $color-tertiary-light;
    }
  }

  &--tertiary {
    &:hover {
      box-shadow: $box-shadow-hover $color-tertiary-light;
    }
  }
}
