// COLORS
$color-primary: #f6c77f;
$color-primary-light: #fdf3dd;
$color-primary-dark: #f4d94c;

$color-secondary-light: #f4dae0;
$color-secondary-dark: #f6c1cd;

$color-tertiary-light: #d6e8bb;
$color-tertiary-dark: #a1b87f;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-almost-black: #313131;
