// COLORS
$color-primary: #f6c77f;
$color-primary-light: #fdf3dd;
$color-primary-light-2: #eee0bb;
$color-primary-dark: #f4d94c;

$color-secondary-light: #f4dae0;
$color-secondary-dark: #f6c1cd;

$color-tertiary-light: #d6e8bb;
$color-tertiary-dark: #a1b87f;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-almost-black: #313131;

:export {
  colorPrimary: $color-primary;
  colorPrimaryLight: $color-primary-light;
  colorPrimaryLight2: $color-primary-light-2;
  colorPrimaryDark: $color-primary-dark;
  colorSecondaryLight: $color-secondary-light;
  colorSecondaryDark: $color-secondary-dark;
  colorTertiaryLight: $color-tertiary-light;
  colorTertiaryDark: $color-tertiary-dark;
  colorGreyLight1: $color-grey-light-1;
  colorGreyLight2: $color-grey-light-2;
  colorGreyDark: $color-grey-dark;
  colorGreyDark2: $color-grey-dark-2;
  colorGreyDark3: $color-grey-dark-3;
  colorWhite: $color-white;
  colorBlack: $color-black;
  colorAlmostBlack: $color-almost-black;
}
