// FONT
$default-font-size: 1.6rem;

// OFFSETS
$fragment-horizontal-offset: 13rem;
$fragment-vertical-offset: 3rem;
$fragment-horizontal-offset-tablet: 4rem;
$fragment-vertical-offset-tablet: 2rem;
$fragment-horizontal-offset-phone: 3rem;
