@import "./colorss.module";
@import "./mixins.module";
@import "./constants.module";

.navigation {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
  margin-left: $fragment-horizontal-offset;
  margin-right: $fragment-horizontal-offset;
  margin-top: $fragment-vertical-offset;

  &__logoBox {
    width: 13rem;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__list {
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      li {
        &:not(:last-child) {
          margin-right: 6rem;
        }
      }
    }
  }

  &__link {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    transition: all 0.2s;

    &:hover {
      box-shadow: inset 0 -1rem 0 $color-secondary-light;
    }
  }

  &__menu {
    display: none;
  }

  @include respond(tab-port) {
    margin-left: $fragment-horizontal-offset-tablet;
    margin-right: $fragment-horizontal-offset-tablet;
    margin-top: $fragment-vertical-offset-tablet;

    &__menu {
      display: block;
      cursor: pointer;
      z-index: 1000;
    }

    &__list {
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 8rem;
      padding-left: 2rem;
      background-color: $color-white;
      width: 0px;
      height: calc(100vh - 60px);
      transition: all 0.2s;
      overflow: hidden;

      ul {
        display: flex;
        flex-direction: column;

        li {
          margin-right: unset;
          margin-top: 2.2rem;
        }
      }
    }

    &__list__active {
      width: 27rem;
      border-left: 2px dashed $color-grey-light-2;
    }
  }
}

.animalFriendly {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 6rem;
  padding-top: 3rem;

  &__left {
    flex: 1;
    padding-right: 7em;

    &__subtitle {
      margin-bottom: 2rem;
    }
  }

  &__right {
    flex: 1;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__button {
    margin-top: 30rem;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.sznurex {
  width: 13rem;
  background-color: pink;
  align-items: center;
  justify-content: center;
  display: flex;
  &:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    transform-origin: center top; /* Tu jest kluczowa zmiana */
    animation: swing 0.5s ease-in-out;
  }
}

@keyframes swing {
  27% {
    transform: rotate(-2deg);
  }
  66% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(-0.5deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
